.conteudo{
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.background {
    position: fixed; 
    height: 90vh;
    top: 60PX;          
    left: 0;        
    /* height: 90%;     */
    z-index: -1;     
}


.info{
    width: 60%;
    margin-right: 80px;
    margin-top: 40px;
    color: white;
}

input{
    color: white;
    border: 1px solid gray;
    border-radius: 25px;
    min-width: 250px;
    width: 80%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button{
    border: 1px solid rgb(214, 208, 208);
    border-radius: 22px;
    margin-right: 12px;
    background:#151716;
    color: white;
    font-size: 18px;
    padding: 10px;
}

button:hover {
    background:white;
    color: #151716;
    border: 1px solid rgb(0, 0, 0);
  }

.perfil{
    background-color :#24292E;
    display: flex;
    margin: 30px 0 20px 0;
    border: 1px solid rgb(116, 112, 112);
    border-radius: 25px;
    padding-left: 10px;
    width: 50%;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid white;
    margin: 10px;

}

.perfil h3{
    color: rgb(248, 237, 217);
    font-size: 24px;
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;

}

.perfil span{
    display: block;
    color: rgb(248, 237, 217);
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
}

.perfil p{
    color: wheat;
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.repositorio{
    font-size: 32px;
    color: white;
    margin: 12px 0;
    text-align: center;

}